/* 
    Created on : 01.04.2016, 13:52:04
    Author     : iiivanov
*/
.z-block, .f-block, .s-block, .t-block {
    width: 1000px;
    text-align: center;
    margin:0 auto;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.t-block {
    border: none;
}
h1 {
    font-size: 20px;
}

.searchString, .addSearchButton {
    display: inline-block;
}

span {
    text-decoration: underline;
    cursor:pointer;
}

.list-avg {
    width: 400px;
    margin:10px auto;
    text-align: left;
}
.table {
    width: 100%;
}